@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Red+Hat+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rampart+One&family=Red+Hat+Mono:ital,wght@1,300&display=swap');/*Rampart One*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2a2f;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='29' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.13' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to left top, #343a40, #2b2c31, #211f22, #151314, #000000);
    /*background: linear-gradient(#00000080, #b343bf59), url('../ressources/bckgrd-landingpage3.jpg');*/
    /*background-size: cover;*/
    background-position: center;
    position: relative;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}


/*----------------------------------------------
    START "Header" */

    header {
        padding: 40px 0 30px;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo i {
        height: 55px;
        width: 55px;
        background: transparent;
        border: 2px solid #88c8ab;
        color: #eee;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
    }
    
    nav .burger {
        width: 35px;
        height: 24px;
        right: 3%;
        top: 60px;
        z-index: 5;
        display: none;
        background: transparent;
        position: absolute;
        cursor: pointer;
    }
    
    nav .burger span {
        display: block;
        background: #88c8ab;
        width: 100%;
        height: 3px;
        transition: .3s ease-in-out;
    }
    
    nav .burger span:nth-child(2) {
        margin: 7px 0px;
    }
    
    nav .nav-list {
        list-style: none;
    }
    
    nav .nav-list li {
        display: inline-block;
    }
    
    nav .nav-list li a {
        display: inline-block;
        color: #eee;
        margin-left: 55px;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        position: relative;
    }
    
    nav .nav-list li.active a {
        color: #88c8ab;
    }
    
    nav .nav-list li:nth-child(odd) a:hover {
        color: #88c8ab /*#2ecc71*/;
        transition: .3s ease-in-out;
        scale: 1.3;
        transform: rotate(360deg);
    }
    
    nav .nav-list li:nth-child(2) a:hover {
        color: #88c8ab /*#2ecc71*/;
        transition: .3s ease-in-out;
        scale: 1.3;
        transform: rotate(-360deg);
    }
    
    nav .nav-list li.li-contact-btn a {
        display: inline-block;
        background: transparent;
        border: 2px solid #88c8ab /*#2ecc71*/;
        padding: 9px 28px;
        border-radius: 30px;
        line-height: 1.3;
        color: #88c8ab;
        font-weight: 900;
    }
    
    nav .nav-list li.li-contact-btn:hover a {
        background: #88c8ab;
        color: #ffffff;
        border: 2px solid transparent;
        transition: .3s ease-in-out;
        scale: 1.15;
    }
    /*    END "Header"
    ----------------------------------------------*/





.about-container {
    width: 100%;
    padding: 0 5%;
    margin-top: 50px;
}

.image-section {
    grid-area: image-sect;
}

.info-section {
    grid-area: info-sect;
}

.skill-section {
    grid-area: skill-sect;
}

.about-container .about-contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    /*grid-gap: 70px;*/
    gap: 70px;
    grid-template-areas: 'image-sect info-sect'
                         'skill-sect skill-sect';
}

.about-contents .image-section {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about-contents .image-section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #787cb5;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.info-section h1 {
    color: #fff;
    font-size: 30px;
    font-family: 'Rampart One';
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.info-section h1::before {
    content: '';
    left: 0;
    top: 110%;
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #aaabb0;
}

.info-section h1::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 40%;
    left: 0;
    top: calc(110% - 1px);
    background-color: #787cb5;
}

.info-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0 15px;
}

.info-section p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
    padding-bottom: 8px;
}

.personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 50px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personal-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal-info div span {
    color: #fff;
    letter-spacing: 1px;
}

.info-section button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #787cb5;
    border-radius: 30px;
    background-color: transparent;
    color: #787cb5;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.info-section button:hover {
    color: #fff;
    background-color: #787cb5;
}

.skill-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 80px;
    margin-bottom: 50px;
}

.skill-section .subject {
    font-size: 16px;
    font-weight: thin;
    color: #fff;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.progress-bar {
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}

.progress-line {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222,
                1px 1px 2px #111111;
    border-radius: 15px;
}

.progress-line::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}

@media(max-width: 1068px) {
    .about-container .about-contents {
        grid-template-areas: 'image-sect skill-sect'
                             'info-sect info-sect';
    }
    .skill-section {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media(max-width: 868px) {
    .about-container .about-contents {
        
        grid-template-areas: 'image-sect image-sect'
                             'info-sect info-sect',
                             'skill-sect skill-sect';
    }
}

@media(max-width: 800px) {
    .personal-info {
        grid-template-columns: 1fr;
    }
}



/*----------------------------------------------
    START "Footer" */
    .footer {
        margin-top: 50px;
        padding-bottom: 20px;
    }
    
    .footer p {
        color: #eee;
        letter-spacing: 1.3px;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    /*    END "Footer"
    ----------------------------------------------*/
    











/*----------------------------------------------
    START RESPONSIVE "Header" */
    @media screen and (max-width: 930px) {
        nav .burger {
            display: initial;
        }
        .click {
            top: 46px;
        }
        .click span {
            position: absolute;
            margin-top: 12px;
        }
        .click span:first-child {
            transform: rotate(-40deg);
        }
        .click span:nth-child(2) {
            opacity: 0;
            margin: 0; 
        }
        .click span:last-child {
            transform: rotate(40deg);
            top: 0;
        }
        nav .nav-list {
            position: absolute;
            top: 90px;
            right: -15px;
            bottom: 0;
            width: 45%;
            height: 40%;
            background: #000000;
            z-index: 2;
            padding: 5% 7%;
            transition: .3s right;
            border-radius: 10px;
            visibility: hidden;
        }
        nav .nav-list li {
            display: block;
        }
        nav .nav-list li a {
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            margin-left: 0;
            margin-bottom: 40px;
        }
        nav .nav-list li.li-contact-btn a {
            position: absolute;
            bottom: 5%;
            right: 20%;
            left: 20%;
            padding: 7% 15%;
            font-size: 14px;
            border: 2px solid #88c8ab /*#2ecc71*/;
            padding: 9px 28px;
            border-radius: 30px;
            line-height: 1.3;
            color: #88c8ab;
            font-weight: 500;
        }
        nav .nav-list.open {
            right: 0;
            visibility: visible;
        }
        nav .nav-list.close {
            right: 0;
            visibility: visible;
        }
    }
    /*    END RESPONSIVE "Header"
    ----------------------------------------------*/